<?xml version='1.0' encoding='utf-8'?>
<widget id="com.schomp.mbsp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SP Proposal</name>
    <description>
        Mercedes Benz of Station Park Proposal
    </description>
    <author email="kevin.mand@schomp" href="http://kevin.mand.com">
        Kevin Mand - Web Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
